.match-in-list-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sides-in-match-list{
  display: flex;
  justify-content: space-between;
}

.score-font{
  font-size: 28px;
  font-family: "Audiowide", serif;
  color: gold;
}
