.hero-container{
  display: flex;
  justify-content: center;
}

.hero-edit-panel{
  display: flex;
  justify-content: right;
  padding: 10px 10px 0 0;
  
  .custom-icon{
    font-size: 20px;
    padding: 0 10px 5px 10px;
  }
}

.hero-info {
  width: 1200px;
  margin: 5px;
  padding: 20px;
  border: 1px solid #55a1ef;
  border-radius: 10px;
}


.hero-header{
  width: 800px;
  text-align: center;
  font-family: "Yahfie", cursive;

  .hero-name{
    color: rgba(35, 35, 35, 0.5);
    font-size: 50px;
    font-family: "Audiowide", serif;
    text-align: center;
    text-shadow: 1px 1px #000000;
  }
  
  .hero-attribute{
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    font-size: 22px;
  }
  
  .hero-tags{
    display: flex;
    justify-content: center;
    
    .hero-tag{
      margin: 1px 3px;
      padding: 1px 3px;
      font-size: 16px;
      
      &-own{
        color: #000000;
        background-color: rgba(166, 166, 166, 0.36);
      }
      
      &-selected{
        color: #000000;
        background-color: rgb(176, 253, 83);
      }
      
      &-in-pull{
        color: #ffffff;
        background-color: rgba(0, 106, 148, 0.36);
      }
      
      &-deselected{
        color: rgb(255, 255, 255);
        background-color: rgba(86, 86, 86, 0.36);
      }
    }
  }
  
  .attack-type{
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    font-size: 22px;
  }
  
  .hero-description{
    
  }
}

.select-container{
  padding: 5px;
  width: 200px;
}

.hero-info-image{
  width: 256px;
  height: 144px;
}

.drop-area{
  background-color: rgba(0, 178, 255, 0.5);
  border: 2px dashed rgba(0, 178, 255, 0.5);
}

.image-container{
  margin: -1px 0 0 -3.5px;
  position: relative;
  z-index: 0;
}

.drag-zone{

  position: absolute;
  z-index: 10;
}