.hero-container {
  display: flex;
  justify-content: center;
}

.hero-edit-panel {
  display: flex;
  justify-content: right;
  padding: 10px 10px 0 0;

  .custom-icon {
    font-size: 20px;
    padding: 0 10px 5px 10px;
  }
}

.hero-info {
  width: 1200px;
  margin: 5px;
  padding: 20px;
}


.hero-header {
  width: 800px;
  text-align: center;
  font-family: "Yahfie", cursive;

  .hero-name {
    font-size: 50px;
    font-family: "Audiowide", serif;
    text-align: center;
    text-shadow: 1px 1px #000000;
  }

  .hero-attribute {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    font-size: 22px;
  }

  .hero-tags {
    display: flex;
    justify-content: center;
    $variable: rgba(201, 201, 201, 0.60);

    .hero-tag {
      margin: 1px 3px;
      padding: 1px 3px;
      font-size: 16px;

      &-own {
        background-color: $variable;
      }

      &-selected {
        background-color: rgb(169, 239, 91);
      }

      &-in-pull {
        background-color: $variable;
      }

      &-deselected {
        background-color: $variable;
      }
    }
  }

  .attack-type {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    font-size: 22px;
  }

  .hero-description {

  }
}

.select-container {
  padding: 5px;
  margin: 20px;
  width: 200px;
  height: 40px;
}

.hero-info-image {
  width: 256px;
  height: 144px;
}

.drop-area {
  background-color: rgba(0, 178, 255, 0.5);
  border: 2px dashed rgba(0, 178, 255, 0.5);
  border-radius: 2px;
}

.image-container {
  margin: -1px 0 0 -3.5px;
  position: relative;
  z-index: 0;
}

.drag-zone {
  position: absolute;
  z-index: 10;
}