$radius: 10px;

.hero-list {
  display: flex;
  justify-content: center;
  //border: 1px solid #55a1ef;
  margin: 10px 200px;
}

$hero-height: 100px;
$container-padding: 2px 5px 2px 5px;

.hero {
  z-index: 5;
  border: 1px solid #55a1ef;
  border-radius: $radius;
  font-size: 30px;
  width: 350px;
  font-family: "Yahfie", cursive;
  color: #3b3b3b;
  margin: 10px 10px;
  height: $hero-height;
  background-size: cover;
  background-blend-mode: color;
  background-clip: content-box;

  &-empty {
    background-color: #bdbdbd;
    border: none;
  }

  &-invisible {
    visibility: hidden;
  }

  &-selected {
    border-radius: $radius;
    cursor: pointer;
    color: white;
    height: $hero-height;
  }

  &-default {
    border-radius: $radius;
    height: $hero-height;
  }
}

.container-padding {
  padding: $container-padding;
}

.hero-name {
  padding: 2px 0 0 10px;
}

.fix-padding {
  padding: 0 0 0 10px;
}

.attack-type {
  font-size: 14px;
}

.main-attribute {
  font-size: 14px;
  font-family: "Yahfie", cursive;
  padding: 0 0 0 10px;
}

.tag {
  font-size: 14px;
  padding: 0 0 0 5px;
}

.plus {
  font-size: 40px;
  padding: 10px 0 8px 0;
  font-family: Calibri, serif;
}

.cross {
  &-hovered {
    font-size: 16px;
    margin-top: -15px;
    color: #bd0000;
  }

  &-default {
    margin-top: -15px;
    font-size: 16px;
  }
}

hr {
  margin: 40px 0 0 0;
  width: min(1600px, 90%);
  color: inherit;
  opacity: 0.25;
}

.hero-container {
  position: relative;
  z-index: 100;
  opacity: 100%;
}

.hero-image {
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 40%;
}