.skew-left{
  transform: skew(15deg);
}

.skew-right{
  transform: skew(-15deg);
}

.small-image-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 54px;
  height: 40px;
  margin: 0 1px;
}

.border-radiant{
  border-bottom: 3px #66BB6A solid;
}

.border-dire{
  border-bottom: 3px #BA4147 solid;
}