.skew-left{
  transform: skew(15deg);
}

.skew-right{
  transform: skew(-15deg);
}

.small-image-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 112px;
  height: 68px;
  margin: 0 1px;
}